html {
  font: normal normal normal 14px/1.3 Helvetica Neue, sans-serif;
  color: #292f33;
  background: #F1EFE9;
}

:root {
  --primary-color: #1da1f2;
}

li {
  display: inline-block;
  list-style-type: none;
  background-color: #f5f8fa;
  padding: 8px 16px;
  margin-bottom: 8px;
  border-radius: 10px;
}

li > a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 16px;
}

li:hover .tweet_volume {
  color: var(--primary-color);
  background-color: #f5f8fa;
}

.navbar:after,
.navbar:before {
  content: " ";
  display: table;
}

.navbar:after {
  clear: both;
}

a:link,
a:visited {
  color: #1b95e0;
  text-decoration: none;
}

a:active,
a:focus,
a:hover {
  text-decoration: underline;
  color: #A665B7;
}

.icon {
  font-size: 21px;
  vertical-align: middle;
  margin-top: 15px;
  display: inline-block;
  height: 1.25em;
  vertical-align: text-bottom;
  background-repeat: no-repeat;
  width: 1.25em;
}

.header, .headers {
  position: fixed;
  top: 0;
  width: 100%;
  height: 87vh;
  background-image: linear-gradient(135deg, #dcc3fc, #9ac5fc);
  color: #fff;
  z-index: 1;
  font-weight: 300;
  letter-spacing: 0.0357em;
}
.headers {
  height: 100%;
}

.header.shrinkDisabled,
.headers.shrinkDisabled {
  position: static;
}

.title {
  width: 100%;
  font: 100 normal normal 36px/1.3 Helvetica Neue, sans-serif;
  text-align: center;
  margin: 0 0 15px;
  overflow: hidden;
  transition: opacity 0.5s ease-out 1s;
  letter-spacing: 0.02em;
}